.img {
    width: 80px;
    border-radius: 40px;
}
.container {
    margin: 0 10% 0 10%;
    display: flex;
    margin-bottom: 10px;
}
.info {
    width: 100%;
    border: 1px solid #ccc1c1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
}
.userName {
}
.location {
    align-self: flex-end;
}
.status {

}
.button {
    display: block;
    width: 80px;
}
.pageSelector {
    cursor: pointer;
}
.selectedPage {
    font-weight: bold;
}