.header {
    grid-area: header;

    background: linear-gradient(90deg, #171a21, #443f3f);
}

.header img {
    width: 90px;
}

.login {
    float: right;
    color: #fff;
}
.login a {
    color: #fff;
}