.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background: linear-gradient(90deg, #171a21, #443f3f);
}

.header img {
    width: 90px;
}

.login {
    color: #fff;
    font-size: 20px;
}
.login a {
    color: #fff;
}