.nav {
    grid-area: nav;

    border: 5px solid #333;
}
.nav__list {
    list-style-type: none;
}

.nav__item {
    color: #fff;
    text-decoration: none;
}

.nav__item_active {
    color: gold;
}

.nav__listFriends {
    padding-top: 20px;
}

.nav__Friends {
   display: flex;
   justify-content: space-between;
}

.nav__itemFriends {
    margin-top: 30px;
    font-size: 25px;
}