.formControl.error input,
.error textarea
{
    border: 2px solid red;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    display: inline-block;
    border: 2px solid red;
    padding: 3px;
    color: red;
}