.wrapper {
    background: linear-gradient(0.15turn, #173045, #17445f, #1b3448);
}

.wrapper__inner {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;

    grid-template-areas: 
        "header header"
        "nav content";
}

.inner__content {
    grid-area: content;
    border: 1px solid #000;
    /* background-image: url(https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg);
    background-size: 100% 250px; */
}